ForgeHost - Copy/
# Generated directories
networking/gen
gen/

# Other dirs and files
/client/build
/server/rootsdk.sqlite3
.env
.turbo
*.tsbuildinfo
node_modules
dist
.npmrc
.tempUploads
*.sqlite3
rootapp.pkg
*.pkg
